<!DOCTYPE html>
<html>
<head>
    <title>チケットガチャ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>

        body {
            padding-top: 20px
        }


    </style>

</head>

<body>



<div class="container">

    <div class="text-center">

        <div>
            <h2>ガチャシルバー</h2>
            <div>
                <img style="width: 50%" src="https://gacha-lab.tech/data/img/products/pipit/slider02.jpg">
            </div>
        </div>

        <div class="text-center">
            <a href="">内容物詳細</a>
        </div>

        <div class="text-center">

            <h3>チケット 99/50枚</h3>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sliver"  data-backdrop="static" data-keyboard="false">ガチャを引く</button>

        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="sliver" tabindex="-1" role="dialog" aria-labelledby="sliverLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="height:800px">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="sliverLabel" style=" text-align:center">シルバーガチャを引きますか? </h4>
                </div>

                <div class="modal-body text-center">
                    <div class="text-center">
                        <img style="width: 50%" src="https://gacha-lab.tech/data/img/products/pipit/slider02.jpg">
                    </div>
                    <p>チケット 消費数 50枚</p>
                </div>

                <div class="text-center">
                    <div>
                        <button class="btn btn-primary text-align: center" data-dismiss="modal" data-toggle="modal" data-target="#result"  data-backdrop="static" data-keyboard="false">はい</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-sm" data-dismiss="modal">いいえ</button>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="result" tabindex="-1" role="dialog" aria-labelledby="resultLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="height:800px">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="resultLabel" style=" text-align:center">シおめでとう！ </h4>
                </div>

                <div class="modal-body text-center">
                    <div class="text-center">
                        <img style="width: 50%" src="https://gacha-lab.tech/data/img/products/pipit/slider02.jpg">
                    </div>
                    <p>以下の獲得しました。</p>
                    <div class="row">

                        <div class="col-4">
                            <img width="80%" src="https://gacha-lab.tech/data/img/products/pipit/slider02.jpg">
                        </div>
                        <div class="col-8">
                            <p>景品名</p>
                        </div>



                    </div>
                </div>

                <div class="text-center">
                    <div>
                        <button class="btn btn-primary text-align: center">はい</button>
                    </div>

                </div>

            </div>

        </div>

    </div>


</div>


</body>

</html>